.import-surv-filter{
  td {
    padding: 0 10px;
  }
}
.table-order {
  width: 100%;
  label {
    max-width: 120px !important;
  }

  select {
    width: 150px;
  }

  .datepicker {
    input {
      width: 130px;
    }
  }
}


.form-horizontal .controls {
    margin-left: 90px;
}


.table-order-line-form {
  label {
    display: none !important;
  }
  .controls {
    margin-left: 0 !important;
  }
}

#search_order {
  margin: 0px !important;
}
#search_order .controls {
  display: inline;
}
#search_order label {
  display: inline;
}
.search_btn {
  margin-top: 4px;
}
