<div>
  <table class="table-order">
    <tr>
      <td>
        <%= f.input :site_id, :collection => Site.order('sites.name').all, :include_blank => 'Select a Site' %>
      </td>

      <td style="vertical-align:center;">
        <%= f.input :order_date, :as => 'date_time_picker',
                                 :label => false,
                                 :input_html => {:class => 'datepicker-fit', placeholder: 'Order Date'}
                                 %>   
      </td>

      <td style="vertical-align:center;">
          <%= f.input :date_submittion, :as => 'date_time_picker',
                                        :label => 'Sumission Date',
                                        :input_html => { :class  => 'datepicker-fit', placeholder: 'Sumission Date'} 
                                        %> 
      </td>
    </tr>

  </table>
</div>