
<table class='table table-hover table-order-line-form' >
    <caption style="text-align: right; padding-bottom: 10px;">
       <%= link_icon 'eye', "Hide/Show empty rows", "javascript:void(0)",
                   method: :put,
                   class: "btn btn-primary toggle-empty_order-line" %>
    </caption>

    <thead>
      <tr>
        <th> # </th>
        <% if order.persisted? %>
        <th> ID </th>
        <% end %>
        <th class="expand" >Commodity</th>
        <th class="expand" >Qty Per Pack</th>
        <th class="expand" >Pack Size</th>
        <th class="expand" >Strength</th>
        <th class="expand">Unit</th>
        <!-- Disable since surv1 and surv2 are out of date -->
        <!--  <th class="expand" title="# Of Patient on Drug regiment"># Patient</th> -->
        <th class="expand" title="Stock on hand">Stock on hand</th>
        <th class="expand" title="Monthly use">Monthly use</th>

        <% if !current_user.data_entry? %>
          <th class="expand" title="System Suggestion">Suggestion</th>
          <th class="expand" title="Quantity Suggested">Qty Suggested</th>
        <% end %>

        <% if(order.status == Order::ORDER_STATUS_TO_BE_REVISED )%>
          <th class="expand" >Status</th>
          <th class="expand" >Reviewer Note</th>
        <% end %>
        <th class="expand" style='width:220px;' title="Entry Note">Entry Note</th>
      </tr>
    </thead>
    <tbody>
      <%=body %>
    </tbody>
</table>
