<table class='table table-striped well no-border no-padding'>
    <thead>
      <tr>
        <th > Commodity </th>
        <th> Stock on hand</th>
        <th> Consumtion</th>
        <th> System Suggestion</th>
        <th> Quantity Suggested</th>
        <th> Entry Note</th>
      </tr>
    </thead>
    <tbody>
       <%= body %>
    </tbody>
</table>