<table class='table table-hover table-order-line-form' >
    <thead>
      <tr>
        <th> # </th>
        <th width="200"> Commodity </th>
        <th title="# Of Patient on Drug regiment"># Patient</th>
        <th title="Stock on hand">Stock on hand</th>
        <th title="Monthly use">Monthly use</th>
        <th title="System Suggestion">System Suggestion</th>
        <th title="Quantity Suggested">Quantity Suggested</th>
        <% if(order.status == Order::ORDER_STATUS_TO_BE_REVISED )%>
          <th>Status</th>
          <th>Reviewer Note</th>
        <% end %>
        <th style='width:220px;' title="Entry Note">Entry Note</th>
      </tr>
    </thead>
    <tbody>
      <%=body %>
    </tbody>
</table>