<table class='table table-striped well no-border no-padding'>
    <thead>
      <tr>
        <th width='260'> Commodity </th>
        <th> # Of Patient on Drug regiment </th>
        <th> Consumtion per month </th>
        <th> Stock on hand</th>
        <th> Monthly use</th>
        <th> System Suggestion</th>
        <th> Quantity Suggested</th>
        <th> Entry Note</th>
      </tr>
    </thead>
    <tbody>
      <%=body %>
    </tbody>
</table>