<table class='table table-hover table-bordered' >
    <thead>
      <tr>
        <th> # </th>
        <th class='commodity'> Commodity </th>
        <th> # Of Patient on Drug regiment </th>
        <th> Consumtion per patient per month </th>
        <th> Stock on hand</th>
        <th> Monthly use</th>
        <th> System Suggestion</th>
        <th> Quantity Suggested</th>
        <% if(order.status == Order::ORDER_STATUS_TO_BE_REVISED )%>
          <th>Status</th>
          <th>Reviewer Note</th>
        <% end %>
        <th style='width:220px;'> Entry Note</th>
      </tr>
    </thead>
    <tbody>
      <%=body %>
    </tbody>
</table>