<table class='table table-hover table-bordered'>
    <thead>
      <tr>
        <th> #</th>
        <th> Commodity </th>
        <th> # Of Patient </th>
        <th> Consumtion per patient per month </th>
        <th> Stock on hand</th>
        <th> Monthly use</th>
        <th> System Suggestion</th>
        <th> Quantity Suggested</th>
        <th> Entry Note</th>
        <% if(order.status == Order::ORDER_STATUS_TO_BE_REVISED) %>
            <th>Status</th>
            <th>Reviewer Note</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
       <%= body %>
    </tbody>
</table>