<table class='table table-hover table-order-line-form' >
    <thead>
      <tr>
        <th> # </th>
        <th> ID </th>
        <th class="expand" >Commodity</th>
        <th class="expand" >Strength</th>
        <th class="expand">Unit</th>
        <th class="expand" title="# Of Patient on Drug regiment"># Patient</th>
        <th class="expand" title="Stock on hand">Stock on hand</th>
        <th class="expand" title="Monthly use">Monthly use</th>

        <% if !current_user.data_entry? %>
          <th class="expand" title="System Suggestion">Suggestion</th>
          <th class="expand" title="Quantity Suggested">Quantity Suggested</th>
        <% end %>

        <% if(order.status == Order::ORDER_STATUS_TO_BE_REVISED )%>
          <th class="expand" >Status</th>
          <th class="expand" >Reviewer Note</th>
        <% end %>
        <th class="expand" style='width:220px;' title="Entry Note">Entry Note</th>
      </tr>
    </thead>
    <tbody>
      <%=body %>
    </tbody>
</table>