table{
  .expand {
    vertical-align: middle;
    white-space: nowrap !important;
  }
}

.navbar .nav > li > a {
  padding: 10px 12px;
}

.no-wrap {
  white-space: nowrap;
}

.navbar {
  .brand {
    padding: 2px 20px ;
    
    img {
      border-radius: 4px;
    }
  }
}