
body{
  padding-top: 50px;
  font-size: 13px;
}
table {
  font-size: 12px;
}


@media(max-width: 979px){
  body{
    padding: 0px;
  }
}

table{
  .expand {
    vertical-align: middle;
    white-space: nowrap !important;
  }
}

.navbar .nav > li > a {
  padding: 10px 12px;
}

.no-wrap {
  white-space: nowrap;
}

.navbar {
  .brand {
    padding: 2px 20px ;

    img {
      border-radius: 4px;
    }
  }
}

.form-actions {
}

.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
  width: 1120px;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    border-radius: 2px;
    color: #555555;
    display: inline-block;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 2px 4px;
    vertical-align: middle;
}

.input-append .add-on, .input-prepend .add-on {
  padding: 2px 5px !important;
}

th{
  text-align: left;
  &:last-child {
    text-align: center !important;
  }
}

td:last-child {
  text-align: right !important;
  .controls{
    margin-right: -18px !important;
  }

}
