default: &default

  APP_NAME: "HIV Supply Chain"
  TIME_ZONE: 'Port Moresby'
  
  DATE_FORMAT: '%d-%m-%Y'
  DATE_FORMAT_JS: 'dd-mm-yyyy'

  DATE_TIME_FORMAT: '%d-%m-%Y, %H:%M:%S'

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default