.table th, .t-header {
  background-color: #F1F1F1 !important;
}

.border{
  border-bottom: 1px solid #E5E5E5 !important;
}

.left {
  text-align : left;
}

.right {
  text-align : right;
}
.center{
  text-align : center;
}
.top-15{
   margin: 10px 0px;
}
td:last, td.last {
  text-align: right  !important;
}
.no-border{
  border: none !important  
}
.no-padding{
  padding: 0px !important  
}
.action_col2 {
	width: 120px ;
	text-align: center !important;
}
.action_col3 {
	width: 180px;
	text-align: center !important;
}

.control-inline .controls {
  display: inline;
}
.dashboard-item-set li{
  list-style-type:none;
  font-size: 18px;
  line-height: 1.8;
}
.dashboard-item-set li a {
  text-decoration: none;
}
.order_size {
  font-size: 28px;
  padding-right: 15px;
  font-weight: bold;
}
.order_pending{
  color: red;
}
.order_submitted {
  color: orange;
}
.order_approved{
  color: green;
}
.order_in_review{
  color: gray;
}
.loading {
    height: 32px;
    left: 50%;
    margin-left: -150px;
    margin-top: -15px;
    position: fixed;
    top: 50%;
    width: 300px;
    z-index: 1000;
    display:none;
}
.hidden{
  display:none; 
}
.list-no{
  width:30px;
  min-width: 30px !important;
}
.center{
  text-align: center !important;
}
.no-bg {
  background-color: #fff;
}
.link-seperator{
  color:#ccc; 
  line-height: 1;  
}
.user-bar{
  /*position:fixed;*/
}
.content-start{
  /*margin-top: 36px;*/
}
.nth-table{
  width: 20px;
}
.header-title{
  font-size: 18px;
  margin_bottom: 5px;
  padding: 0px;
  line-height: 1;
}
.list-header{
  padding: 0px;
  margin:0px;
}
.pagination{
  margin: 0px !important;
}
#system_loading{
  display: none;
}
table input{
  margin-bottom: 0px !important;
}
.table td{
  padding: 3px 8px;
}
.table th{
  padding: 6px 8px;
}
.row-success{
  background-color: #ddd ;
  color : green ;
}
.row-error{

}

.dataTables_filter, .dataTables_info {
  display:none !important;
}

.form-fixed {
  overflow: hidden !important;
}
.link-thead{
  color: #333;
}


