.left {
  text-align : left;
}

.right {
  text-align : right;
}
.top-15{
   margin-top: 15px;
}
td:last, td.last {
  text-align: right  !important;
}
.no-border{
  border: none !important  
}
.no-padding{
  padding: 0px !important  
}
.action_col2 {
	width: 90px ;
	text-align: right;
}
.action_col3 {
	width: 150px;
	text-align: right;
}
