.content-body {
  min-height: 600px;
}
.footer-bar {
  margin: 0 auto;
}
@media (min-width:400px)
 {
    .text-right {text-align:right;}
    .text-left {text-align:left;}
 } 

.gray {
  color: gray;
}
.table .header-grid, .table th {
    /*background-color: #DDDDDD !important;*/
    padding: 9px 3px;
}
.table-bordered th, .table-bordered td {
    border-left: 1px solid #CCCCCC;
}

 .table-hover th, .table-hover .header-grid{
   background-color: #ededed;
 }

 .error-td .control-group, .error-td .control{
   width: 200px !important;
   display: inline-block;
 }
 .popover{
  max-width: 600px;
 }
 .table .help-inline{
   display: none;
 }


.border{
  border-bottom: 1px solid #E5E5E5 !important;
}

.left {
  text-align : left;
}

.right {
  text-align : right;
}
.center{
  text-align : center;
}
.top-15{
   margin: 10px 0px;
}
td:last, td.last {
  text-align: right  !important;
}
.no-border{
  border: none !important  
}
.no-padding{
  padding: 0px !important  
}
.action_col2 {
	width: 120px ;
	text-align: center !important;
}
.action_col3 {
	width: 180px;
	text-align: center !important;
}

.table .control-group  {
  margin: 0px;
}

.control-inline .controls {
  display: inline;
}
.dashboard-item-set li{
  list-style-type:none;
  font-size: 18px;
  line-height: 1.8;
}
.dashboard-item-set li a {
  text-decoration: none;
}
.order_size {
  font-size: 28px;
  padding-right: 15px;
  font-weight: bold;
}
.order_pending{
  color: red;
}
.order_submitted {
  color: orange;
}
.order_approved{
  color: green;
}
.order_in_review{
  color: gray;
}
.loading {
    height: 32px;
    left: 50%;
    margin-left: -150px;
    margin-top: -15px;
    position: fixed;
    top: 50%;
    width: 300px;
    z-index: 1000;
    display:none;
}
.hidden{
  display:none; 
}
.list-no{
  width:30px;
  min-width: 30px !important;
}
.center{
  text-align: center !important;
}
.no-bg {
  background-color: #fff;
}
.link-seperator{
  color:#ccc; 
  line-height: 1;  
}
.user-bar{
  /*position:fixed;*/
}
.content-start{
  /*margin-top: 36px;*/
}
.nth-table{
  width: 20px;
}
.header-title{
  font-size: 18px;
  margin_bottom: 5px;
  padding: 0px;
  line-height: 1;
}
.list-header{
  padding: 0px;
  margin:0px;
}
.pagination{
  margin: 0px !important;
}
#system_loading{
  display: none;
}
table input{
  margin-bottom: 0px !important;
}
.table td{
  padding: 3px 8px;
}
.table th{
  padding: 6px 8px;
}
.row-success{
  background-color: #8AD8B1 ;
}
.row-error{
  background-color: #E87878;
}
.dataTables_filter, .dataTables_info {
  display:none !important;
}

.form-fixed {
  overflow: hidden !important;
}
.link-thead{
  color: #333;
}

.popover-title{
  font-size: 16px;
  font-weight: bold;
}
.popover-content{
  color: red;
}
.error{
  color: #7F2626;
  text-decoration : none;
}

a.error:hover, a.error:visited {
  color: #ff0101;
  text-decoration: none;
}
.header-title {
  font-size : 18px;
  color: gray;
}
.commodity{
  width: 240px;
}
h3.myModalLabel{
  font-size: 130%;
}


