<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="<%= admin_root_path() %>"> <%=app_name %> </a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <%
              [
                {:label => "Users", :url => admin_users_path ,    :controller => "users" },
                {:label => "Sites", :url => admin_sites_path ,:controller => "sites" },
                {:label => "Public Holidays", :url => admin_public_holidays_path(), :controller => "public_holidays"},
                {:label => "Settings", :url => admin_settings_path, :controller => "settings"},
                {:label => "Commodities",:url => admin_commodities_path(:type => 'drugs'), :controller => "commodities"}

              ].each do |item|
                cls = (item[:controller] == controller_name) ? "active" : ""
              %>
                  <li class="<%=cls%>"> <%=link_to item[:label], item[:url] %> </li>
              <% end %>
            </ul>
          </div>
        </div>
    </div>
</div> 
