<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="<%= admin_root_path() %>"> <%=app_name %> </a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <%
              menus = [] 
              menus += [ {:label => "Users", :url => admin_users_path ,    :controller => "users" },
                        {:label => "Commodities",:url => admin_commodities_path(), :controller => "commodities"},
               ] if current_user.admin?

              menus += [ {:label => "Requisition Forms",:url => admin_requisition_reports_path(), :controller => "requisition_reports"}
                #,{:label => 'Requisition Template', :url => template_admin_commodity_categories_path(:format =>:xls), :controller => 'commodity_categories' } 


                ]  if current_user.site?
              
              menus << {:label => "SURV",:url => admin_import_survs_path(:type => ImportSurv::TYPES_SURV1), :controller => "import_survs"} if current_user.data_entry?
              menus << {:label => "Requisition and order", :url => admin_orders_path(), :controller => "orders"} if current_user.data_entry? || current_user.reviewer?

              menus += [
                {:label => "Sites", :url => admin_sites_path(), :controller => "sites"},
                {:label => "Public Holidays", :url => admin_public_holidays_path(), :controller => "public_holidays"},
                {:label => "Settings", :url => admin_settings_path, :controller => "settings"}
              ] if current_user.admin?




              menus += [
                  {:label => "Orders pending for dispatch", :url => order_admin_shipments_path(), :controller => "" },
                  {:label => "Shipment status", :url => admin_shipments_path(), :controller => "" },
                  {:label => "Package lost", :url => admin_shipments_path(:type => Shipment::STATUS_LOST), :controller => "" },
                  {:label => "Package confirmed", :url => admin_shipments_path(:type => Shipment::STATUS_RECEIVED), :controller => "" },
                ] if current_user.ams?

              menus.each do |item|
                cls = (item[:controller] == controller_name) ? "active" : ""
              %>
                  <li class="<%=cls%>"> <%=link_to item[:label], item[:url] %> </li>
              <% end %>
            </ul>
          </div>
        </div>
    </div>
</div> 
