<!DOCTYPE html>
<html>
<head>
  <title>PngHivAids</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >
  <style>
    body{padding-top: 50px;}
  </style>
</head>
<body>
  
  <%= render "layouts/top_menu" %>
  <div class="container">
    <div class="row">
      <div class="span4"> Side bar</div>
      <div class="span8"> Content</div>
    </div>
    
    
  </div>

</body>
</html>
